<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">About The Jamaican Fashion House - "Indigenous Jamaica Creativity".
			 Formal Evening Wear & Gowns (Bridal, Pageant, Prom, Ball).<br><br> Showroom coming soon;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="Founder">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4>2016</h4>-->
                                    <h4 class="subheading">Founder and Creative Director</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">House of Fennel caters for clients who are very fashion conscious, current and enjoy being dressed and styled in custom-made attire to suit her lifestyle, personality, body figure and the occasion.
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="stockist">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Stockist</h4>
					<h6 class="subheading">Shades of Africa, 17 Holborn Road, Kingston 10, Jamaica. Telephone 1-876-797-7591
					</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Become a stockist, contact information below.</p>
                                </div>
                            </div>
                        </li>
                        <!--<li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Coming 2026</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Fashion Style Solution will cater for most fashion and styling needs of the consumers!</p>
                                </div>
                            </div>
                       -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of The
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!--Mailchimp signup form--><!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://houseoffennel.us17.list-manage.com/subscribe/post?u=83a3b6384bb98ced4f71aa732&amp;id=37ee461d36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to House Of Fennel mailing list for updates</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_83a3b6384bb98ced4f71aa732_37ee461d36" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
        </div>
    </section>

