  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} {{ site.title }} </br> Jamaica, West Indies.</br> All rights reserved.</span>
                    <span class="copyright"><br>info@houseoffennel.com<br>1.876.870.9494</span>  
              </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
			<br>The Apparel Production District, <br>76 Marcus Garvey Drive, Kingston, <br>Jamaica, West Indies.</br>
	  By Appointment.<br>
	  <br><i>Caribbean Showroom coming soon;</i><br/> Brand new multichannel ecommerce with international shipping coming soon;</br></br>
                </div>
                <div class="col-md-4">
			<i>"Ethical Sustainability, Diversity and Inclusiveness is Infused in the Workmanship."</i></br>
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

