  <footer>
        <div class="container">
            <div class="row">
		     <div class="col-md-4">
			<b>A T E L I E R & Showroom</b></br> 5 Balmoral Avenue (upstairs) - Kingston 10,</br> Jamaica, West Indies.<br>
			     <a href="mailto:info@houseoffennel.com">info@houseoffennel.com</a> 
			     <br><a href="tel:876-870-9494">Sales: +1.876.870.9494</a></br></br></span>  
              		<i>"Ethical Sustainability, Diversity and Inclusiveness is Infused in the Workmanship."</i>
			<br></br>
			<span class=""><b>The House Of Fennel</b></span>  
			     	<br><a href="mailto:info@houseoffennel.com">Career</a>
              			<br><a href="mailto:info@houseoffennel.com">Internship</a>
			     	<br><a href="mailto:info@houseoffennel.com">Apprenticeship</a>
				<br><a href="#">Gift cards</a>
				<br><a href="#">Shipping & Delivery</a><br></br>		     
		</div>
                <div class="col-md-4">
			<span class="">
			The Apparel Technical Centre, <br>76 Marcus Garvey Drive, Kingston, <br>Jamaica, West Indies.</br>
	  		By Appointment.<br>
	  		<br><i>The Flagship House Of Fennel Showroom coming soon;</i><br/> Brand new multichannel ecommerce with global shipping coming soon;</br></br>         
		<span class=""><b>Our Services</b></span>  
              			<br><a href="#">Couture Bridal</a>
				<br><a href="#">Custom-made garments</a>
				<br><a href="#">Special Garment Repairs</a>
				<br><a href="#">Prêt-à-Porter</a><br><br>
		</div>
		     <!-- remove social media links
		    <div class="col-md-4">
     			   <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </div></ul>-->
                <div class="col-md-4">
			<span class="">Book an Appointment:<br>
				<a href="https://www.houseoffennel.co.uk/bookings.html"> - Fashion Consultation</a><br>
				<a href="https://www.houseoffennel.co.uk/bridalbookings.html"> - Bridal Consultation</a>
			</span><br>
			<span class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} {{ site.title }} <br>All rights reserved.</span>
                        <br><a href="#">Craftmanship</a>
			<br><a href="#">Heritage</a>
			<br><a href="#">Privacy Policy</a>
			<br><a href="#">Terms of Use</a>
			<br><a href="#">Size Chart</a>
			<br><a href="#">Press</a>
                </div>
            </div>
        </div>
	  <!--include linkedin insight tag-->{% include linkedin.html %}
	        <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://houseoffennel.us17.list-manage.com/subscribe/post?u=83a3b6384bb98ced4f71aa732&amp;id=37ee461d36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to House Of Fennel exclusives.</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_83a3b6384bb98ced4f71aa732_37ee461d36" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!-- End mc_embed_signup -->
    </footer>
