  <footer>
        <div class="container">
            <div class="row">
		     <div class="col-md-4">
			<b>A T E L I E R & Showroom</b></br> 5 Balmoral Avenue (upstairs) - Kingston 10,</br> Jamaica, West Indies.<br>info@houseoffennel.com<br>Sales: 1.876.870.9494</br></br></span>  
              		<i>"Ethical Sustainability, Diversity and Inclusiveness is Infused in the Workmanship."</i>
			<br></br>
			<span class=""><b>The House Of Fennel</b></span>  
              			<br><a href="#">Internship</a>
				<br><a href="#">Career</a>
				<br><a href="#">Gift cards</a>
				<br><a href="#">Shipping & Delivery</a><br></br>		     
		</div>
                <div class="col-md-4">
			<span class="">
			The Apparel Technical Centre, <br>76 Marcus Garvey Drive, Kingston, <br>Jamaica, West Indies.</br>
	  		By Appointment.<br>
	  		<br><i>The Flagship House Of Fennel Showroom coming soon;</i><br/> Brand new multichannel ecommerce with global shipping coming soon;</br></br>         
		<span class=""><b>Our Services</b></span>  
              			<br><a href="#">Couture Bridal</a>
				<br><a href="#">Custom-made</a>
				<br><a href="#">Garment Repairs</a><br></br>
		</div>
		     <!-- remove social media links
		    <div class="col-md-4">
     			   <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </div></ul>-->
                <div class="col-md-4">
			<span class="">Book an Appointment:<br>
				<a href="https://www.houseoffennel.co.uk/bookings.html"> - Fashion Consultation</a><br>
				<a href="https://www.houseoffennel.co.uk/bridalbookings.html"> - Bridal Consultation</a>
			</span><br>
			<span class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} {{ site.title }} <br>All rights reserved.</span>
                        <br><a href="#">Privacy Policy</a>
			<br><a href="#">Terms of Use</a>
			<br><a href="#">Size Chart</a>
			<br><a href="#">Press</a>
                </div>
            </div>
        </div>
	  <!--include linkedin insight tag-->{% include linkedin.html %}
    </footer>

